@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the QL Holiday Party Landing Page!</h2>

<h3>
    <a href="../RSVP/Index">RSVP</a>
    <br />
    <a href="../Dish/Index">Bring a Dish</a>
    <br />
</h3>