body {
    background-color:lightsteelblue;
}

.available-party-dates-hidden {
    visibility:hidden;
}

.available-pary-dates-shown {
    visibility:visible;
}

.authenticated-user-info {
    color: white;
    text-align: right;
    vertical-align:middle;
    padding: 0 0 0 20px;
}

.user-entry {
    margin: 10px;
    transition: transform .2s;
}

    .user-entry:hover {
        transform:scale(1.1);

    }
